#!/usr/bin/make -f

export PYBUILD_NAME=bagels

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# Skip runtime tests - test dependencies not packaged
	appstreamcli validate --pedantic --no-net \
	    debian/bagels.metainfo.xml

override_dh_auto_install:
	dh_auto_install
	PYTHONPATH="$$(echo $(CURDIR)/debian/bagels/usr/lib/python3*/dist-packages)" \
	    help2man --no-discard-stderr --no-info \
	    --name="Powerful terminal expense tracker" \
	    --version-string="$(shell dpkg-parsechangelog -S Version | sed 's/-.*//')" \
	    debian/bagels/usr/bin/bagels \
	    -o debian/bagels.1
